

.table-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .productTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .productTable th,
  .productTable td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .productTable th {
    font-weight: bold;
  }

  /* ProductDescription.css */

.product-description-container {
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-intro {
    margin-bottom: 20px;
  }
  
  .feature-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .feature-list {
    margin-bottom: 20px;
  }
  
  .feature-list li {
    margin-bottom: 8px;
  }
  
  .pricing-heading {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .pricing-info {
    font-size: 16px;
    color: #e95d16; /* Change the color as needed */
    font-weight: bold;
  }
  
  .article{
    margin-top: 20px !important;
  }